<main class="dashboard">
  <img [src]="imagePath" alt="Danger" width="200px" style="display:flex; margin:auto;" />

  <div class="sensor-cards-container" style="margin-top: 10px;">
    <ng-container *ngIf="groupedSensors && groupedSensors.length > 0; else noSensors">
      <section class="sensor-card" *ngFor="let sensorGroup of groupedSensors">
        <h5 class="sensor-title">
          🖥️ อุปกรณ์: <b>{{ sensorGroup.mac_id }}</b>
        </h5>

        <!-- Gauge Section -->
        <section class="gauge-section">
          <div class="gauge">
            <div class="gauge-bg"></div>
            <div
              class="gauge-fill"
              [style.transform]="getRotation(sensorGroup.latest.temperature)"
              [style.background]="getHeatFlag(sensorGroup.latest.risk_color).color"
            ></div>

            <div class="gauge-center">
              <h2>{{ sensorGroup.latest.temperature | number : '1.2-2' }}°C</h2>
              <div>ความชื้น: {{ sensorGroup.latest.humidity | number : '1.2-2' }}%</div>

              <div>
                <b [style.color]="getHeatFlag(sensorGroup.latest.risk_color).color">
                  ดัชนี: {{ sensorGroup.latest.heat_index | number : '1.2-2' }}°C
                </b>
              </div>

              <div class="heat-flag">
                {{ getHeatFlag(sensorGroup.latest.risk_color).label }}
              </div>
            </div>
          </div>
        </section>

        <!-- History Section -->
        <section class="history">
          <h3>📜 ประวัติ </h3>
          <table
            class="history-table"
            *ngIf="sensorGroup.history && sensorGroup.history.length > 0; else noData"
          >
            <thead>
              <tr>
                <th>เวลา</th>
                <th>อุณหภูมิ (°C / ความชื้น %)</th>
                <th>ดัชนีความร้อน (°C)</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let record of sensorGroup.history"
                [ngClass]="{
                  'danger-row': getHeatFlag(record.risk_color).label === 'อันตราย' ||
                                getHeatFlag(record.risk_color).label === 'อันตรายสูง'
                }"
              >
                <td>{{ record.recorded_at }}</td>
                <td>
                  {{ record.temperature | number: '1.2-2' }}°C /
                  {{ record.humidity | number: '1.2-2' }}%
                </td>
                <td>{{ record.heat_index | number: '1.2-2' }}°C</td>
              </tr>
            </tbody>
          </table>

          <ng-template #noData>
            <div>No history available for this sensor.</div>
          </ng-template>
        </section>
      </section>
    </ng-container>

    <ng-template #noSensors>
      <div class="no-data-message">No sensor data received yet.</div>
    </ng-template>
  </div>

  <footer class="footer"></footer>
</main>
